#root {
    text-align: center;
}

.home-root {
   
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: #eff2e8;
    
  }


.home-img {
    height: 420px;
    width: 580px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }