.footer {
  background-color: #eff2e8;
  max-height: 50px;
  height: 100vh;

  /* display:flex; */

  /* position: relative;
  z-index: 0; */
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footerLinks {
  font-size: 20px;

  text-decoration: none;
  color: rgb(188, 188, 245);

  padding: 6px;
}