.footer {
    background-color: #eff2e8;
    max-height: 50px;
    height: 100vh;
}

  .footerLinks {
    font-size: 20px;
  
    text-decoration: none; 
    color: rgb(188, 188, 245);
  
    padding: 6px;
  }
  