.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  background: linear-gradient(to right, #c1d9c3, #c0d9e6);
}
.heading{
  flex-direction: column;

}

.title {
  text-align: left;
  padding-left: 7rem;
  margin: 0;
}

.titlePlus {
  font-size: 16px;
  margin-top: 5px; 
  display: block;
  padding-left: 7rem;
}

.nav-tabs {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;

}

.nav-link {
  color: black !important;
}

.nav-link.active {
  color: white !important;
  background-color: rgb(188, 188, 245) !important;
}


/* Media query for navBar*/
@media (max-width: 767px) {
  .navBar {
    flex-direction: column;
    align-items: center;
  }

  .heading {
    text-align: center;
    margin-bottom: 10px;
  }

  .title {
    text-align: center; /* Adjusted to center the title text */
    padding: 0; /* Reset padding */
    margin: 0;
  }

  .titlePlus {
    font-size: 16px;
    margin-top: 5px;
    display: block;
  }

  .nav-tabs {
    justify-content: center; /* Adjusted to center the navigation links */
    padding: 0; /* Reset padding */
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .nav-link {
    display: block;
    text-align: center; /* Center the text within the navigation links */
    padding: 10px;
  }
}
