.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.title {
    text-align: left;
    padding-left: 2rem;
    
  }

  .nav-tabs {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    
  }

.nav-link{
  color: black;
}

  .nav-link.active{
    color: white !important;
    background-color: rgb(188, 188, 245) !important;
  }