.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.heading{
  flex-direction: column;

}

.title {
  text-align: left;
  padding-left: 2rem;
  margin: 0;
}

.titlePlus {
  font-size: 16px;
  margin-top: 5px; 
  display: block;
}

.nav-tabs {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;

}

.nav-link {
  color: black !important;
}

.nav-link.active {
  color: white !important;
  background-color: rgb(188, 188, 245) !important;
}