#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #eff2e8;
  
}

.title {
  text-align: left;
}

.nav-tabs {
  justify-content: right;
}

.footer-icons {
  margin: 10px;
}

.footerLinks {
  font-size: 20px;

  text-decoration: none; 
  color: purple;

  padding: 6px;
}
